spring.application.name=hubspot-integration
hubspot.client-id=<SEU_CLIENT_ID>
hubspot.client-secret=<SEU_CLIENT_SECRET>
hubspot.redirect-uri=http://localhost:8080/oauth/callback
hubspot.scope=crm.objects.contacts.write crm.objects.contacts.read oauth